@page
@model SpaceParkingLotWebApplication.Pages.Forms.BeginParking
@{
}
@{
    ViewData["Title"] = "Begin Parking";
}

@if (Model.WrongVehicle != null)
{
    <h1>@Model.WrongVehicle</h1>
}
else
{
    <h1> Hello @Model.UserGreeting. What's your vehicle how long are you staying?</h1>

}

<form method="post">
    <select name="shipSelect">
        <option value="">List of Star Ships</option>
        @foreach (var record in Model.starWarsUniverseShips)
        {
            <option value="@Html.DisplayFor(modelItem3 => record.name)">
                @Html.DisplayFor(modelItem3 => record.name)
            </option>
        }
    </select>
</form>

@{
    @foreach (var ticket in Model.AllTicketsInDb)
    {
        if (ticket.Name == Model.NameOFParker)
        {
            if (ticket.EndTime > DateTime.Now)
            {

                @Html.Raw("Du har en aktiv parkeringsbiljett ! Parkeringsplats: ");
                @Html.DisplayFor(x => ticket.ParkingSpot);

                @Html.Raw(" Sluttid: ");
                @Html.DisplayFor(x => ticket.EndTime);
                @Html.Raw("<br>");
            }
        }
    }
}

<form method="post">
    <input type="text" asp-for="Vehicle" placeholder="Vehicle Name" />
    <input type="time" asp-for="StartTime" asp-format="{0:HH:mm}" placeholder="Start parking" />
    <input type="time" asp-for="EndTime" asp-format="{0:HH:mm}" placeholder="Stop parking" />
    <button type="submit" class="btn btn-primary">Begin parking!</button>
</form>



