@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-image: url('/backgrounds/star-wars-backgrounds-25.jpg');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome Galactic Explorer</h1>
    <p>group 6</p>
</div>

@if (Model.AllTicketsInDb.Where(x => x.EndTime > DateTime.Now).Count() < 20)
{
    <div class="text-center">
        <p>There are currently @Model.AllTicketsInDb.Where(x => x.EndTime > DateTime.Now).Count() out of 20 parking slots taken at this time</p>
    </div>
    {
        <form class="text-center">
            <select id="name">

                <option value="">List of names</option>

                @foreach (var record in Model.starWarsUniverseAvatars)
                {
                    <option value="@Html.DisplayFor(modelItem3 => record.name)">
                        @Html.DisplayFor(modelItem3 => record.name)
                    </option>
                }
            </select>
        </form>
    }

    {
        <form method="post">
            <div class="text-center">
                @if (Model.InvalidName != null)
                {
                    <label>@Model.InvalidName</label>
                }
                else
                {
                    <label>Hello sir! What is your name may I ask ?</label>
                }
                <br />

                <input type="text" asp-for="NameOFParker" placeholder="Enter Your Name" />
                <br />
                <button type="submit" class="btn btn-primary">Verify Name</button>
            </div>
        </form>
    }

    {
        <form class="text-center">
            <select id="tickets">

                <option value="">List of all tickets</option>

                @foreach (var record in Model.AllTicketsInDb)
                {
                    <option value="@Html.DisplayFor(modelItem3 => record.Name)">
                        Id:
                        @Html.DisplayFor(modelItem3 => record.Id)
                        @Html.DisplayFor(modelItem3 => record.Name)
                        @Html.DisplayFor(modelItem3 => record.VehicleID)
                        Spot:
                        @Html.DisplayFor(modelItem3 => record.ParkingSpot)
                        Ends:
                        @Html.DisplayFor(modelItem3 => record.EndTime)
                    </option>
                }
            </select>
        </form>
    }

    {
        <form class="text-center">
            <select id="tickets">

                <option value="">List of all old tickets</option>

                @foreach (var record in Model.AllTicketsInDb)
                {
                    if (record.EndTime < DateTime.Now)
                    {
                        <option value="@Html.DisplayFor(modelItem3 => record.Name)">
                            Id:
                            @Html.DisplayFor(modelItem3 => record.Id)
                            @Html.DisplayFor(modelItem3 => record.Name)
                            @Html.DisplayFor(modelItem3 => record.VehicleID)
                            Spot:
                            @Html.DisplayFor(modelItem3 => record.ParkingSpot)
                            Ends:
                            @Html.DisplayFor(modelItem3 => record.EndTime)
                        </option>
                    }
                }
            </select>
        </form>
    }
    {
        <form class="text-center">
            <select id="tickets">

                <option value="">List of all active tickets</option>

                @foreach (var record in Model.AllTicketsInDb)
                {
                    if (record.EndTime > DateTime.Now)
                    {
                        <option value="@Html.DisplayFor(modelItem3 => record.Name)">
                            Id:
                            @Html.DisplayFor(modelItem3 => record.Id)
                            @Html.DisplayFor(modelItem3 => record.Name)
                            @Html.DisplayFor(modelItem3 => record.VehicleID)
                            Spot:
                            @Html.DisplayFor(modelItem3 => record.ParkingSpot)
                            Ends:
                            @Html.DisplayFor(modelItem3 => record.EndTime)
                        </option>
                    }
                }
            </select>
        </form>
    }
}
else
{
    <h1>Sorry our parking lot is currently full, please come back later</h1>
}

